services:
  firefly_iii:
    image: fireflyiii/core:latest
    hostname: firefly_iii
    container_name: firefly_iii_core
    restart: always
    expose:
      - "8080"
    volumes:
      - ./data/firefly/app:/var/www/html/storage/upload
    env_file: .firefly.env
    environment:
      - DB_DATABASE=${POSTGRES_FIREFLY_III_DB}
      - DB_USERNAME=${POSTGRES_FIREFLY_III_USER}
      - DB_PASSWORD=${POSTGRES_FIREFLY_III_PASSWORD}
      - APP_URL=https://localhost:${FINANCE_FIREFLYCORE_PORT}
      - TZ=${APP_TIMEZONE}
    networks:
      - fvp
    depends_on:
      - db
      - redis
  importer:
    image: fireflyiii/data-importer:latest
    container_name: firefly_iii_importer
    restart: always
    env_file: .importer.env
    environment:
      - APP_URL=https://localhost:${FINANCE_FIREFLYIMPORT_PORT}
      - VANITY_URL=https://localhost:${FINANCE_FIREFLYCORE_PORT}
    expose:
      - "8080"
    depends_on:
      - firefly_iii
    networks:
      - fvp
  vikunja:
    image: vikunja/vikunja
    container_name: vikunja
    hostname: vikunja
    restart: unless-stopped
    env_file: .vikunja.env
    environment:
      - VIKUNJA_DATABASE_PASSWORD=${POSTGRES_VIKUNJA_PASSWORD}
      - VIKUNJA_DATABASE_TYPE=${DB_PROVIDER}
      - VIKUNJA_DATABASE_USER=${POSTGRES_VIKUNJA_USER}
      - VIKUNJA_DATABASE_DATABASE=${POSTGRES_VIKUNJA_DB}
      - VIKUNJA_SERVICE_PUBLICURL=https://localhost:${ORGANIZATION_VIKUNJA_PORT}
    expose:
      - "3456"
    networks:
      - fvp
    depends_on:
      - db
  homebox:
    image: ghcr.io/sysadminsmedia/homebox:latest
    container_name: homebox
    restart: always
    env_file: .homebox.env
    environment:
      - HBOX_DATABASE_USERNAME=${POSTGRES_HOMEBOX_USER}
      - HBOX_DATABASE_PASSWORD=${POSTGRES_HOMEBOX_PASSWORD}
      - HBOX_DATABASE_DATABASE=${POSTGRES_HOMEBOX_DB}
    volumes:
      - ./homebox/config:/config
      - ./homebox/media:/media
    depends_on:
      - db
    networks:
      - fvp
  homehub:
    container_name: homehub
    hostname: homehub
    image: ghcr.io/surajverma/homehub:latest
    restart: always
    env_file: .homehub.env
    volumes:
      - ./homehub/config.yml:/app/config.yml:ro
    networks:
      - fvp
  stirling-pdf:
    image: stirlingtools/stirling-pdf:latest-fat
    container_name: stirling-pdf
    hostname: stirling-pdf
    restart: unless-stopped
    env_file: .stirling.env
    environment:
      - SYSTEM_DATASOURCE_CUSTOMDATABACKENDURL=jdbc:postgresql://db:5432/${POSTGRES_STIRLING_DB}
      - SYSTEM_DATASOURCE_USERNAME=${POSTGRES_STIRLING_USER}
      - SYSTEM_DATASOURCE_PASSWORD=${POSTGRES_STIRLING_PASSWORD}
      - SECURITY_INITIALLOGIN_USERNAME=${APP_DEFAULT_USERNAME}
      - SECURITY_INITIALLOGIN_PASSWORD=${APP_DEFAULT_PASSWORD}
    volumes:
      - ./stirling-pdf/ocr/fra.traineddata:/usr/share/tessdata/fra.traineddata
      - ./stirling-pdf/ocr/spa.traineddata:/usr/share/tessdata/spa.traineddata
    depends_on:
      - db
    networks:
      - fvp
  paperless:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest
    container_name: paperless
    hostname: paperless
    restart: unless-stopped
    env_file: .paperless.env
    environment:
      - PAPERLESS_DBNAME=${POSTGRES_PAPERLESS_DB}
      - PAPERLESS_DBUSER=${POSTGRES_PAPERLESS_USER}
      - PAPERLESS_DBPASS=${POSTGRES_PAPERLESS_PASSWORD}
      - PAPERLESS_URL=https://localhost:${DIGITAL_PAPERLESS_PORT}
    depends_on:
      - redis
      - db
      - tika
      - gotenberg
    networks:
      - fvp
    volumes:
      - ./data/paperless/data:/usr/src/paperless/data
      - ./data/paperless/media:/usr/src/paperless/media
      - ./data/paperless/export:/usr/src/paperless/export
      - ./data/paperless/consume:/usr/src/paperless/consume
  mealie:
    image: ghcr.io/mealie-recipes/mealie:v3.9.2 # 
    container_name: mealie
    hostname: mealie
    restart: always
    deploy:
      resources:
        limits:
          memory: 1000M
    volumes:
      - ./data/mealie:/app/data
    env_file: .mealie.env
    environment:
      - POSTGRES_USER=${POSTGRES_MEALIE_USER}
      - POSTGRES_PASSWORD=${POSTGRES_MEALIE_PASSWORD}
      - POSTGRES_DB=${POSTGRES_MEALIE_DB}
      - BASE_URL=https://localhost:${FOOD_MEALIE_PORT}
      - TZ=${APP_TIMEZONE}
    depends_on:
      - db
    networks:
      - fvp
  grocy:
    image: lscr.io/linuxserver/grocy:latest
    container_name: grocy
    hostname: grocy
    env_file:
      - .grocy.env
    environment:
      - TZ=${APP_TIMEZONE}
    volumes:
      - ./data/grocy/config:/config
    restart: unless-stopped
    networks:
      - fvp
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    hostname: vaultwarden
    restart: unless-stopped
    env_file: .vaultwarden.env
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_VAULTWARDEN_USER}:${POSTGRES_VAULTWARDEN_PASSWORD}@db:5432/${POSTGRES_VAULTWARDEN_DB}
    volumes:
      - ./data/vaultwarden:/data
    depends_on:
      - db
    networks:
      - fvp
  db:
    image: docker.io/library/postgres:18-alpine
    restart: unless-stopped
    hostname: db
    container_name: databases
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_FIREFLY_III_USER=${POSTGRES_FIREFLY_III_USER}
      - POSTGRES_FIREFLY_III_PASSWORD=${POSTGRES_FIREFLY_III_PASSWORD}
      - POSTGRES_FIREFLY_III_DB=${POSTGRES_FIREFLY_III_DB}
      - POSTGRES_VIKUNJA_USER=${POSTGRES_VIKUNJA_USER}
      - POSTGRES_VIKUNJA_PASSWORD=${POSTGRES_VIKUNJA_PASSWORD}
      - POSTGRES_VIKUNJA_DB=${POSTGRES_VIKUNJA_DB}
      - POSTGRES_HOMEBOX_USER=${POSTGRES_HOMEBOX_USER}
      - POSTGRES_HOMEBOX_PASSWORD=${POSTGRES_HOMEBOX_PASSWORD}
      - POSTGRES_HOMEBOX_DB=${POSTGRES_HOMEBOX_DB}
      - POSTGRES_STIRLING_USER=${POSTGRES_STIRLING_USER}
      - POSTGRES_STIRLING_PASSWORD=${POSTGRES_STIRLING_PASSWORD}
      - POSTGRES_STIRLING_DB=${POSTGRES_STIRLING_DB}
      - POSTGRES_PAPERLESS_USER=${POSTGRES_PAPERLESS_USER}
      - POSTGRES_PAPERLESS_PASSWORD=${POSTGRES_PAPERLESS_PASSWORD}
      - POSTGRES_PAPERLESS_DB=${POSTGRES_PAPERLESS_DB}
      - POSTGRES_MEALIE_USER=${POSTGRES_MEALIE_USER}
      - POSTGRES_MEALIE_PASSWORD=${POSTGRES_MEALIE_PASSWORD}
      - POSTGRES_MEALIE_DB=${POSTGRES_MEALIE_DB}
      - POSTGRES_VAULTWARDEN_USER=${POSTGRES_VAULTWARDEN_USER}
      - POSTGRES_VAULTWARDEN_PASSWORD=${POSTGRES_VAULTWARDEN_PASSWORD}
      - POSTGRES_VAULTWARDEN_DB=${POSTGRES_VAULTWARDEN_DB}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - fvp
    volumes:
      - ./database/configure_dbs.sh:/docker-entrypoint-initdb.d/multiple-databases.sh
      - ./data/db:/var/lib/postgresql
  pgadmin:
    image: dpage/pgadmin4:9.11.0
    container_name: fvp_pgadmin
    restart: always
    ports:
      - "8999:80"
    environment:
      - PGADMIN_DEFAULT_EMAIL=${APP_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${APP_DEFAULT_PASSWORD}
    networks:
      - fvp
    volumes:
      - ./pgAdmin/servers.json:/pgadmin4/servers.json
  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "${HOME_MAIN_PORT}:9000"
      - "${FINANCE_FIREFLYCORE_PORT}:9001"
      - "${FINANCE_FIREFLYIMPORT_PORT}:9002"
      - "${ORGANIZATION_VIKUNJA_PORT}:9003"
      - "${INVENTORY_HOMEBOX_PORT}:9004"
      - "${DASHBOARD_HOMEHUB_PORT}:9005"
      - "${DIGITAL_STIRLINGPDF_PORT}:9006"
      - "${DIGITAL_PAPERLESS_PORT}:9007"
      - "${FOOD_MEALIE_PORT}:9008"
      - "${FOOD_GROCY_PORT}:9009"
      - "${SECURITY_VAULTWARDEN_PORT}:9010"
    volumes:
      - ./nginx/frontend.conf:/etc/nginx/conf.d/frontend.conf:ro
      - ./nginx/firefly.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/vikunja.conf:/etc/nginx/conf.d/vikunja.conf:ro
      - ./nginx/homebox.conf:/etc/nginx/conf.d/homebox.conf:ro
      - ./nginx/homehub.conf:/etc/nginx/conf.d/homehub.conf:ro
      - ./nginx/stirling-pdf.conf:/etc/nginx/conf.d/stirling-pdf.conf:ro
      - ./nginx/paperless.conf:/etc/nginx/conf.d/paperless.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
      - ./nginx/mealie.conf:/etc/nginx/conf.d/mealie.conf:ro
      - ./nginx/grocy.conf:/etc/nginx/conf.d/grocy.conf:ro
      - ./nginx/vaultwarden.conf:/etc/nginx/conf.d/vaultwarden.conf:ro
    networks:
      - fvp
    depends_on:
      - firefly_iii
      - vikunja
      - importer
      - homebox
      - homehub
      - stirling-pdf
      - paperless
      - mealie
      - grocy
      - vaultwarden
      - frontend
  redis:
    image: docker.io/library/redis:alpine
    container_name: redis
    command: --save 60 1 --loglevel warning
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      start_period: 20s
      interval: 30s
      retries: 5
      timeout: 3s
    volumes:
      - ./data/redis:/data
    networks:
      - fvp
  redis-commander:
    image: rediscommander/redis-commander:latest
    container_name: redis_commander
    restart: always
    ports:
      - "8998:8081"
    environment:
      - REDIS_HOSTS=redis:6379
    networks:
      - fvp
  tika:
    image: docker.io/apache/tika:latest-full
    restart: unless-stopped
    container_name: tika
    hostname: tika
    networks:
      - fvp
  gotenberg:
    image: docker.io/gotenberg/gotenberg:8.25
    restart: unless-stopped
    hostname: gotenberg
    container_name: gotenberg
    command:
      - "gotenberg"
      - "--chromium-disable-javascript=true"
      - "--chromium-allow-list=file:///tmp/.*"
  frontend:
    image: fvp_frontend
    build:
      context: ./@fvp/main
      dockerfile: Dockerfile
    container_name: frontend
    hostname: frontend
    restart: always
    env_file:
      - .env
    networks:
      - fvp
networks:
  fvp:
    driver: bridge